@font-face {
    font-family: myFirstFont;
    src: url('../../Assets/Daniel-Regular.otf');
 }
body{
    background-image: url('../../Assets/img-Assest.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    font-family: myFirstFont;
}
html,body{
    height: 100%;
}
.main{
    height: 100vh;
}

.landing-page{
    display: grid;
    height: 100%;
    margin: auto;
    width: 40%;
}
.field{
    animation: form 1s;
    animation-iteration-count: 1;
}
@keyframes form{
    0%{transform: translateY(300px);opacity: 0;}
    100%{opacity: 1;}
}

.intro{
    text-align: center;
    padding: 20%;
}
.Q-form{
    display: grid;
    height: 100%;
    width:100%;
    justify-content: center;
}
.Q-form form{
    width: 600px;
    display: grid;
    grid-template-rows: 1.5fr 2fr;
}
.question{
    width: 100%;
   padding-top: 10%;
}
.question textarea{
    width: 100%;
    height: 200px;
}
.options{
    width:100%;
    display: grid;
    row-gap: 10px;
    height: fit-content;
}
.options div{
    display:grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows:1fr;
    
}
.options input{
    width: 90%;
    height: 30px;
}
.field div{
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.field{
    display: grid;
    row-gap: 10px;
}
form input{
    border: none;
    border-bottom: 1px dashed black;
    background-color: transparent;
    outline: none;
}
textarea{
    border: 1px dashed black;
    background-color: transparent;
    outline: none;
}
.submit-test{
    margin-top: 5%;
    border: none;
    background-color: transparent;
}
form select{
    border: none;
    border-bottom: 1px dashed black;
    background-color: transparent;
    outline: none;
}
.submit-btn{
    display: inline !important;
    margin-left: 70%;
}
.submit-btn button{
    background-color: transparent !important;
    color: black !important;
    font-family: myFirstFont;
}
